<script>
    
</script>
<div class="d-flex ">
   <div>
    <a href="/selectGf">
        <img src="/img/male_home.png" alt="male jpg" class="img-fluid d-block" loading="lazy">
    </a>
    
    <h1 class="text-center">Chat as Bf</h1>
   </div>
   <div>
    <a href="/login">
        <img src="/img/female_home.png" style="height:540px; width:auto;" loading="lazy"  alt="female webp">
    </a>
    
    <h1 class="text-center">Chat as Gf</h1>
   </div> 
</div>