

<div class="container mt-3" style="background-color: rgba(103, 189, 44, 0.23);">
  <div class="row">
    <div class="col-6" style="border-right:2px dashed rgb(144, 8, 228);">
      <a href="/selectGf">
        <img
          src="/img/male_home.png"
          alt="male jpg"
          class="pump_small"
          loading="lazy"
        />
      </a>
      <h1 class="text-center text-info">Chat as Bf</h1>
    </div>
    <div class="col-6">
      <a href="/login">
        <img
          src="/img/female_home.png"
          style="height: 540px; width: auto"
          loading="lazy"
          alt="female webp"
          class="pump_small"
        />
      </a>

      <h1 class="text-center text-primary">Chat as Gf</h1>
    </div>
  </div>
</div>
