<div class="container">

      <div class="row ">
        <div class="col-sm-12 col-md-6 align-self-center">
          <div class="card rounded-3" style="width: 80%; height: 80%; margin: 20px auto;">
            <img class="card-img-top" src="/img/login_img.jpg" height="60%" alt="Card image cap">
            <div class="card-body ">
              <p class="card-text text-center pt-3">Welcome to the Login Page of the Application. To login enter your registered email id and password. If you don't have one then click on, register link to register yourself. Thank You.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <% if (typeof msg == 'undefined' ? false : true) { %> 
            <div class="alert alert-danger text-center" role="alert">
              <%= msg %>
            </div>
            <% } %>
            <div class="card-body p-2 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold">Login As GirlFriend</h5>
              <form method="post" action="/login">
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                    name = "email"
                    autocomplete="off"
                  />
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Password"
                    name = "password"
                    autocomplete="off"
                    
                  />
                  <label for="floatingPassword">Password</label>
                </div>


                <div class="d-grid">
                  <button
                    class="btn btn-primary btn-login text-uppercase fw-bold"
                    type="submit"
                  >
                    Sign in
                  </button>
                </div>
                <a class="d-block text-center mt-2 small" href="/register"
                >Have No account? Register</a
                >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

