

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
        <div class="card-img-left-1 d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body p-4 p-sm-5">
          <% if (typeof msg == 'undefined' ? false : true) { %>
          <div class="alert alert-danger text-center" role="alert">
            <%= msg %>
          </div>
          <% } %>
          <h3 class="card-title text-center mb-5 fw-light fs-5">
            Enter Gf Name
          </h3>
          <form method="post" action="/displayMsg">
            <div class="form-floating mb-3">
              <select id="names" class="form-select form-select-sm" name="name" aria-label=".form-select-sm example">
                <% names.forEach( (name,index) => { %>
                  <option value="<%=name%>" 
                    <% if(index==0){%>
                      selected
                    <%}%>
                    ><%=name%></option>
                <% }) %>
              </select>
              <label for="floatingInputEmail">Enter gf Name</label>
            </div>
            <div class="d-flex justify-content-evenly mb-2">
              
              <a
                class="btn  btn-primary btn-login fw-bold text-uppercase"
                href = "/selectGf"
                id = "profile"
              >
                Profile
            </a>
              <button
              class="btn  btn-primary btn-login fw-bold text-uppercase"
              type="submit"
            >
              Chat
            </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script defer>
  
  if (!document.cookie) {
    let pass = prompt("enter password");
    if(pass !='vivek'){
      window.location.replace('http://localhost:3000/')
    }else{
      document.cookie = "auth:true";
    }
  }
  let names = document.getElementById("names")
  let profileButton = document.getElementById('profile')
  profileButton.data = names.value
  names.addEventListener('change', function (e)  {
    profileButton.data = this.value 
  })
  profileButton.addEventListener('click', function (e) {
    e.preventDefault()
    window.location = `http://localhost:3000/displayProfile?name=${this.data}`
  })

  
</script>