

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
        <div class="card-img-left-1 d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body p-4 p-sm-5">
          <% if (typeof msg == 'undefined' ? false : true) { %>
          <div class="alert alert-danger text-center" role="alert">
            <%= msg %>
          </div>
          <% } %>
          <h3 class="card-title text-center mb-5 fw-light fs-5">
            Enter Gf Name
          </h3>
          <form method="post" action="/displayMsg">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="gfName"
                placeholder="name@example.com"
                name="name"
                autocomplete="off"
              />
              <label for="floatingInputEmail">Enter gf Name</label>
            </div>
            <div class="d-flex justify-content-evenly mb-2">
              
              <a
                class="btn  btn-primary btn-login fw-bold text-uppercase"
                href = "/selectGf"
                id = "profile"
              >
                Profile
            </a>
              <button
              class="btn  btn-primary btn-login fw-bold text-uppercase"
              type="submit"
            >
              Chat
            </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script defer>
  
  if (!document.cookie) {
    let pass = prompt("enter password");
    if(pass !='vivek'){
      window.location.replace('http://localhost:3000/')
    }else{
      document.cookie = "auth:true";
    }
  }
  let profile = document.getElementById("profile")
  let gfName = document.getElementById("gfName")
  profile.gfData = ""
  gfName.addEventListener('input', (e)=>{
    profile.gfData= e.originalTarget.value
  })
  
  profile.addEventListener('click', (e)=>{
    e.preventDefault()
    if(profile.gfData != "")
      window.location = `http://localhost:3000/displayProfile?name=${profile.gfData}`
    
  })
  
</script>