<form method="post" action="/updateGfMsg">
  <p><label for="msg">Send as Gf</label></p>
  <textarea id="w3review" name="msg" rows="1" cols="50"></textarea>
  <br />
  <br />
  <input type="text" name="email" value="<%=email%>" hidden>
  <input type="text" name="isGf" value="true" hidden>
  <input type="submit" value="Submit" />
</form>
