<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap cdn css-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- bootstrap cdn icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css"
    />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@300;500&display=swap"
      rel="stylesheet"
    />

    <!-- my styleSheet -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>
      <%= typeof title != 'undefined' ? title : 'Welcome to Cheating App' %>
    </title>
  </head>
  <body>
    <div class="container-lg">
      <%- include ('../header.ejs'); %>
      <!-- aladin start-->
      <div class="container">
        <div class="row align-items-center position-relative" id="aladin">
            <div class="col-12 position-absolute" id="aladin_mov">
                <img src="/img/flying_aladin.webp" 
                    width="200px"
                alt=""
                >
                <h4 class="d-inline text-success fw-bold">Welcome to The Cheating App</h4>
            </div>
        </div>
    
      <!-- aladin end -->
      <main><%- body -%></main>
      <footer class="bg-light text-center text-lg-start mt-2">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(28, 24, 24, 0.5)">
          © 2023 Copyright:
          <span>Vivek Pandey</span>
        </div>
        <!-- Copyright -->
      </footer>
      
    </div>

    <!-- bootstrap cdn javascript -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
